Cabane/Cabane/obj/Debug/Cabane.csproj.FileListAbsolute.txt
Cabane/Cabane/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cabane/Cabane/bin/Debug/Cabane.exe
Cabane/Cabane/bin/Debug/Cabane.pdb
Cabane/Cabane/obj/Debug/Cabane.csproj.FileListAbsolute.txt
Cabane/Cabane/obj/Debug/Cabane.csproj.GenerateResource.Cache
Cabane/Cabane/obj/Debug/Cabane.csprojResolveAssemblyReference.cache
Cabane/Cabane/obj/Debug/Cabane.exe
Cabane/Cabane/obj/Debug/Cabane.pdb
Cabane/Cabane/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cabane/Cabane.v12.suo
Cabane/Cabane/bin/Debug/Cabane.vshost.exe.manifest
